html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body,.page-host{
	height: 100%;
	font-family: 'alegreya_sansregular', Helvetica, Arial;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.btn{
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

.header{
	height: 150px;
	background: #cc0000;
	position: relative;
	background-image: url('../assets/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.add-form{
	background: #f2f2f2;
	max-width: 500px;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	margin: auto;
	padding: 8px;
	transform: translateY(-50%);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding-bottom: 24px;
}
.add-form .form-wrapper{
	position: relative;
}
.add-form .field{
	padding: 10px 8px;
	padding-right: 20%;
	width: 100%;
	
	font-size: 18px;
	border: none;
	border-bottom: 2px solid #006bd8;
	background: #fff;
	transition: padding-left .2s ease-out;
}
.add-form .field:focus{
	outline: none;
	padding-left: 14px;
}
.add-form .btn{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 12px 18px;
	
	background: #006bd8;
	color: #fff;
	transition: all .2s ease-out;
}
.add-form .btn:hover,
.add-form .btn:focus{
	background: #0c5db1;
}
.add-form .btn:active{
	background: #4f7093;
}
.add-form .bookmarklet{
	position: absolute;
	top: 100%;
	padding-top: 4px;
	font-size: 14px;
	color: #737373;
}

@media screen and (max-height: 600px){
	.header{
		height: 80px;
	}
	.add-form{
		left: 10px;
		right: 10px;
	}
}

.main-container{
	max-width: 700px;
	margin: 40px auto 10px;
}

.archive-item{
	padding: 15px;
}
.archive-item.processing{
	background: #e5e5e5;
}
.archive-item h4{
	margin: 0 0 3px;
	font-size: 20px;
	font-weight: normal;
}
.archive-item a{
	text-decoration: none;
	color: #006bd8;
}
.archive-item h3{
	margin: 0 0 5px;
	font-size: 16px;
	color: #21aa1a;
	font-weight: normal;
	word-break: break-all;
	line-height: 1.2;
}
.archive-item p{
	margin: 0 0 10px;
}
.archive-item .btn-delete{
	color: #db1515;
	border: 2px solid #db1515;
	background: transparent;
	font-size: 15px;
	padding: 3px 10px;
	font-weight: bold;
	transition: all .3s ease-out;
}
.archive-item .btn-delete:hover{
	background: #db1515;
	color: #fff;
}
.archive-item  .archived{
	float: right;
	color: #737373;
	font-size: 16px;
}

iframe{
	width: 100%;
	height: 100%;
	border: none;
}
.back{
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px 10px;
	background: #006bd8;
	color: #fff;
	opacity: .4;
}
.back:hover{
	opacity: 1;
}
